<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HelixToolkit" version="2.12.0" targetFramework="net452" />
  <package id="HelixToolkit.Wpf" version="2.12.0" targetFramework="net452" />
  <package id="MindFusion.Diagramming" version="6.6.0" targetFramework="net452" />
  <package id="Pdfium.Net.SDK" version="4.27.2704" targetFramework="net452" />
</packages>